@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url('../public/space.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
